* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', serif;
}

body {
  background: linear-gradient(90deg, #0c4d5c 10%, #010101 100%);
  height: 100vh;
}

header {
  display: flex;
  align-items: center;
  padding: 2% 0% 0% 15%;
}

.navegacao-lista {
  display: flex;
  gap: 2rem;
  font-size: 1.2rem;
  font-weight: 600;
  list-style: none;
}

.navegacao-lista-link {
  text-decoration: none;
  color: #22d4fd;
  position: relative;
}

.navegacao-lista-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #22d4fd;
  transition: width 0.5s ease-in-out;
}

.navegacao-lista-link:hover::after {
  width: 100%;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 8% 15%;
}

section {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

h1 {
  color: white;
  font-size: 1.9rem;
  font-family: 'Krona One', serif;
}

strong {
  color: #00ffff;
}

p {
  color: rgba(255, 255, 255, 0.9);
  font-size: 1.2rem;
}

.buttons-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.buttons-container p {
  font-size: 1.5rem;
  color: #fff;
  font-weight: 400;
  font-family: 'Krona One', sans-serif;
}

.button {
  width: 220px;
  padding: 15.5px 0;
  background-color: transparent;
  color: #f6f6f6;
  border: 2px solid #22d4fd;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 1rem;
  font-size: 1.4rem;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.5s ease-in-out;
}

.button:hover {
  background-color: #031a1f;
  color: #e6e6e6;
}

.button img {
  width: 20px;
}

figure {
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  width: 80%;
}

footer {
  background: #22d4fd;
  padding: 1rem;
  margin-top: 1rem;
}

.rodape {
  text-align: center;
  color: #000;
  font-size: 1.2rem;
  font-weight: 600;
}
