* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', serif;
}

body {
  background: linear-gradient(90deg, #0c4d5c 10%, #010101 100%);
  height: 100vh;
}

header {
  display: flex;
  align-items: center;
  padding: 2% 0% 0% 15%;
}

.navegacao-lista {
  display: flex;
  gap: 2rem;
  font-size: 1.2rem;
  font-weight: 600;
  list-style: none;
}

.navegacao-lista-link {
  text-decoration: none;
  color: #22d4fd;
  position: relative;
}

.navegacao-lista-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #22d4fd;
  transition: width 0.5s ease-in-out;
}

.navegacao-lista-link:hover::after {
  width: 100%;
}

main {
    display: flex;
    flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 5% 15%;
}

.sobremim {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
}

.sobremim-text {
  width: 60%;

  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: #f6f6f6;
  font-weight: 600;
  font-size: 1.2rem;
}

figure {
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  width: 80%;
}

footer {
  background: #22d4fd;
  padding: 1rem;
  margin-top: 1rem;
}

.rodape {
  text-align: center;
  color: #000;
  font-size: 1.4rem;
  font-weight: 500;
}
